@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #2F2FE4;
    --fundo-senha: #162E93;
    --fundo-texto: #1A1953;
    --borda: #080616;
    --embed-code: "Embed code", sans-serif;

}
*{
    font-weight:400;
}
body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--embed-code)
}